.container-1 {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}

.nav-item {
    display: flex;
}

.logo-img img {
    margin-left: 15px;
    margin-top: 62px;
}

.sub-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
}

.sub-item li {
    list-style: none;
}

.sub-item li a {
    text-decoration: none;
    padding: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.sub-item li a:hover {
    text-decoration: underline;
}

.nav-item1 {
    margin-right: 15px;
    margin-top: 62px;
}

.nav-item1 ul {
    display: flex;
}

.nav-item1 ul li {
    /* padding: 15px; */
    list-style: none;
    /* font-size: 20px; */
}

.nav-item1 ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.link-login {
    padding-right: 30px;
    padding-top: 10px;
}

/*
.nav-item1 ul li a:hover{
    text-decoration: underline;
}
*/

.drop-down {
    position: relative;

}

.visibility li {
    padding: 5px 0px 5px 0px;
}


.visibility {
    border: none;
    border-radius: 5px;
    position: absolute;
    visibility: hidden;
    transform: translateY(0em);
    transition: all 0.3s;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 2%;
    background-color: rgba(22, 160, 133, 0.6);
   
}


.drop-down:hover .visibility {
    visibility: visible;
    animation-duration: 0.8s;
    transform: translateY(0.5em);
    transition-delay: 0s, 0.3s, 0.3s;
}



.navbar ul {
    display: flex;
}

.navbar ul li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar ul li a {
    list-style: none;
    color: black;
}

.navbar ul li a:hover {
    opacity: 0.5;
}