{% extends "base.html" %}
{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<body>

	{% block content %}

	<!-- ****** MAIN CONTENT START ****** -->
	<main>

		<!-- =======================
Main Banner START -->
		<section class="pt-7">
			<div class="container pt-3 pt-xl-5">
				<!-- Slider START -->
				<div class="swiper rounded" data-swiper-options='{
			"effect": "fade",
			"navigation":{
				"nextEl":".swiper-button-next",
				"prevEl":".swiper-button-prev"
			},
			"pagination":{
				"el":".swiper-pagination",
				"clickable":"true"
			}}'>

					<!-- Slider items -->
					<div class="swiper-wrapper">
						<!-- Slider item -->
						<div class="swiper-slide">
							<!-- Card item START  background-image:url(assets/images/blog/01.jpg);-->
							<div class="card overflow-hidden h-500px text-center rounded-0"
								style="background-image:url({% static './assets/images/blog/mother1.jpg' %});background-position: center left; background-size: cover;">
								<!-- Background dark overlay -->
								<div class="bg-overlay bg-dark opacity-5"></div>
								<!-- Card image overlay -->
								<div class="card-img-overlay d-flex align-items-center p-2 p-sm-4">
									<div class="w-100 my-auto">
										<div class="row justify-content-center">
											<div class="col-11 col-lg-9">
												<!-- Badge -->
												
												<!-- Title -->
												<h1 class="h2 mb-4"><a href=""
														class="text-white text-primary-hover">"Nourish yourself with
														healthy choices, for you and your baby."</a></h1>
												<ul class="nav nav-divider mb-0 justify-content-center small">
													<li class="nav-item text-white"><a href="#"
															class="text-decoration-underline"><i
																class="bi bi-person me-2"></i>Frances Guerrero</a></li>
													<li class="nav-item text-white"><i
															class="bi bi-calendar me-2"></i>Nov 5, 2018</li>
													<li class="nav-item text-white"><i class="bi bi-clock me-2"></i>4
														min read</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->
						</div>

						<!-- Slider item -->
						<div class="swiper-slide">
							<!-- Card item START -->
							<div class="card overflow-hidden h-500px text-center rounded-0"
								style="background-image:url({% static './assets/images/blog/mother2.jpg' %}); background-position: center left; background-size: cover;">
								<!-- Background dark overlay -->
								<div class="bg-overlay bg-dark opacity-5"></div>
								<!-- Card image overlay -->
								<div class="card-img-overlay d-flex align-items-center p-2 p-sm-4">
									<div class="w-100 my-auto">
										<div class="row justify-content-center">
											<div class="col-11 col-lg-9">
												<!-- Badge -->
												
												<!-- Title -->
												<h1 class="h2 mb-4"><a href="blog-single-v1.html"
														class="text-white text-primary-hover"> "Healthy mom, healthy
														start. Prioritize prenatal care."
													</a></h1>
												<ul class="nav nav-divider mb-0 justify-content-center small">
													<li class="nav-item text-white"><a href="#"
															class="text-decoration-underline"><i
																class="bi bi-person me-2"></i>Carolyn Ortiz</a></li>
													<li class="nav-item text-white"><i
															class="bi bi-calendar me-2"></i>Nov 5, 2018</li>
													<li class="nav-item text-white"><i class="bi bi-clock me-2"></i>4
														min read</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->
						</div>

						<!-- Slider item -->
						<div class="swiper-slide">
							<!-- Card item START -->
							<div class="card overflow-hidden h-500px text-center rounded-0"
								style="background-image:url({% static './assets/images/blog/mother3.jpg' %}); background-position: center left; background-size: cover;">
								<!-- Background dark overlay -->
								<div class="bg-overlay bg-dark opacity-5"></div>
								<!-- Card image overlay -->
								<div class="card-img-overlay d-flex align-items-center p-2 p-sm-4">
									<div class="w-100 my-auto">
										<div class="row justify-content-center">
											<div class="col-11 col-lg-9">
												<!-- Badge -->
												
												<!-- Title -->
												<h1 class="h2 mb-4"><a href="blog-single-v2.html"
														class="text-white text-primary-hover">"Your body is creating a
														miracle. Rest and listen to its needs."</a></h1>
												<ul class="nav nav-divider mb-0 justify-content-center small">
													<li class="nav-item text-white"><a href="#"
															class="text-decoration-underline"><i
																class="bi bi-person me-2"></i>Joan Wallace</a></li>
													<li class="nav-item text-white"><i
															class="bi bi-calendar me-2"></i>Nov 5, 2018</li>
													<li class="nav-item text-white"><i class="bi bi-clock me-2"></i>4
														min read</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->
						</div>
					</div>

					<!-- Slider Pagination -->
					<div class="swiper-pagination swiper-pagination-white mb-3"></div>

					<!-- Add pagination and navigation elements here -->
					<!-- <div class="d-flex justify-content-between position-absolute top-50 start-0 w-100 px-1 px-sm-3">
						<a href="#" class="btn btn-dark btn-icon rounded-circle mb-0 swiper-button-prev"><i
								class="bi bi-arrow-left"></i></a>
						<a href="#" class="btn btn-dark btn-icon rounded-circle mb-0 swiper-button-next"><i
								class="bi bi-arrow-right"></i></a>
					</div> -->
				</div>
				<!-- Slider END -->
			</div>
		</section>
		<!-- =======================
Main Banner END -->

		<!-- =======================
Blog list and sidebar START -->
		<section class="pt-0">
			<div class="container">
				<!-- Title & Tab -->


				<!-- Blog grid -->
				<div class="row g-4 g-sm-5 g-xl-7 mt-0">

					<!-- Item -->
					{% for p in bpost reversed%}
					<div class="col-md-6 col-lg-4">
						<article class="card bg-transparent h-100 p-0">
							<!-- Badge -->

							<!-- Card image -->
							<img src="{{p.post_img.url}}" class="card-img img-fluid" alt="Blog-img" height="15rem">

							<!-- Card Body -->
							<div class="card-body px-2 pb-4">
								<!-- Title -->
								<h6 class="card-title mb-2"><a href="#">{{p.title}}</a>
								</h6>
								<p class="small mb-0">"{{p.body|truncatechars:20|safe}}."</p>
							</div>

							<!-- Card footer -->
							<div class="card-footer bg-transparent d-flex justify-content-between px-2 py-0">
								<span class="heading-color fw-semibold mb-0">{{p.user}}</span>
								<a class="icon-link icon-link-hover stretched-link" href="/post/{{p.slug}}">Read
									more<i class="bi bi-arrow-right"></i> </a>
							</div>
						</article>
					</div>
					{% endfor %}
					<!-- Item -->
	
				</div>

				<!-- Pagination START -->
				<div class="row mt-7">
					<div class="col-12 mx-auto">
						<ul class="pagination pagination-primary-soft d-flex justify-content-center mb-0">
							<li>
								<ul class="list-unstyled">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
									</li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">..</a></li>
									<li class="page-item"><a class="page-link" href="#">22</a></li>
									<li class="page-item">
										<a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- Pagination END -->

			</div>
		</section>
		<!-- =======================
Blog list and sidebar END -->

	</main>
	<!-- ****** MAIN CONTENT END ****** -->

	{% endblock content %}

	<!-- Back to top -->
	<div class="back-top"></div>

	<!-- Bootstrap JS -->
	<script src="{% static './assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

	<!--Vendors-->
	<script src="{% static './assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

	<!-- Theme Functions -->
	<script src="{% static './assets/js/functions.js' %}"></script>

</body>
