{% extends "base.html" %}

{% block content %}

<section>
  <div class="card m-4" >
    <div class="card-header bg-success">
      <h3 class="text-white">About Doctor</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title m-3">Appointment request has been sent to your doctor
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
        </svg> 
      </h5>
      <img src="{{doc.post_img.url}}" height="180" width="150" class="rounded-circle">
      <h6>{{doc.name}}</h6>
      <p>{{doc.experience}}</p>
      <p class="card-text m-3" >{{doc.detail}}.</p>
      <!-- <a href="/gencode" class="btn btn-success m-2">Book Session</a> -->
      <form action="/gencode" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Book Session">
      </form>
      
      <a href="/doctors" class="btn btn-danger m-2">Cancel</a>
    </div>
  </div>
</section>

{% endblock content %}